extends ./layout/index

block slider 
    .slider 
        h1 Rio de Janerio 
        em aventura

block contenido
    main.container.mt-5
        h2.text-center.mb-5 Sobre Nosotros
        .row.mb-5 
            .col-md-6 
                p Est mollit exercitation duis quis esse ut tempor eu minim aliquip irure et. Esse nostrud et commodo consequat veniam aliqua mollit sint incididunt reprehenderit. Dolor consequat consequat aliqua occaecat laboris duis enim amet deserunt.
                 p Velit reprehenderit duis est anim. Irure eiusmod amet nisi excepteur anim magna qui enim do. Et dolore officia nisi eiusmod voluptate est.
            .col-md-6 

                img(src="/img/inicio_nosotros.jpg", alt="imagen nosotros", class="img-fluid")

        include ./layout/bloque-viajes

    .descuento 
        .container 
            .row 
                .col-md-6 
                    .contenido 
                        h3 5% de Descuento 
                        p.titulo Viaje a Canada 
                        p.fecha 20 de Marzo de 2022 - 28 de Marzo de 2022
                        p.precio $2,500 USD


    .container 
        h2.mt-5.text-center Testimoniales
            include ./layout/bloque-testimoniales 