extends ./layout/index

block contenido
    main.container.mt-5
        .row 
            .col-md-5 
                img(src="img/nosotros.jpg", alt="Imagen sobre nosotros", class="img-fluid")

            .col-md-7
                h1 #{pagina}
                blockquote ipsum dolor sit amet, consectetur adipiscing elit. Integer ac odio eu turpis congue vehicula. Nullam condimentum tortor placerat feugiat ornare. Etiam tristique consectetur massa, at luctus arcu imperdiet at. Aliquam eleifend augue ut nisi aliquam, et feugiat metus pellentesque. Praesent lacinia feugiat urna id laoreet. 

                p commodo, magna sit amet eleifend eleifend, lectus mi viverra eros, venenatis finibus orci odio vel ligula. Praesent auctor elementum ligula ac consequat. In erat nunc, ullamcorper sit amet massa eu, elementum mattis lacus. Donec sodales eleifend risus vitae iaculis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. 

                p ullamcorper ipsum sed risus fringilla tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. In quis posuere velit. Vestibulum rhoncus sapien nec faucibus lacinia. Maecenas placerat elementum lacus, vel egestas nisl mollis vel. Curabitur faucibus hendrerit dapibus. Suspendisse tristique vel lectus id placerat. Ut vel rhoncus ex. In hac habitasse platea dictumst. Etiam in egestas lacus.

    .listado-iconos 
        .container.mt-5.py-5.text-center 
            .row 
                .col-md-4
                    img(src="img/icono_seguridad.svg", alt="icono seguridad", class="img-fluid mb-4")
                    h2.mb-4 Seguridad 
                    p Eu tempor aliquip ullamco sit magna minim exercitation anim anim cupidatat do magna commodo excepteur. Eu tempor aliquip ullamco sit magna minim exercitation anim anim cupidatat do magna commodo excepteur. 

                .col-md-4
                    img(src="img/icono_destinos.svg", alt="icono destinos", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Destinos 
                    p Eu tempor aliquip ullamco sit magna minim exercitation anim anim cupidatat do magna commodo excepteur. Eu tempor aliquip ullamco sit magna minim exercitation anim anim cupidatat do magna commodo excepteur. 

                .col-md-4
                    img(src="img/icono_precios.svg", alt="icono precios", class="img-fluid mb-4")
                    h2.mb-4 Los Mejores Precios 
                    p Eu tempor aliquip ullamco sit magna minim exercitation anim anim cupidatat do magna commodo excepteur. Eu tempor aliquip ullamco sit magna minim exercitation anim anim cupidatat do magna commodo excepteur. 
